.collection-container {
  
  }
  
 

  .collection-grid-title{
    margin-left: 49px;
  }
  
.items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    gap: 1rem;
    padding: 10px;
  } 

  .MdOutlineKeyboardArrow {
    margin-bottom: 100px;
    cursor: pointer;
  }
  
 
  
  .navigation-dots {
    
    text-align: center;
  }

  .items__item-author{
    padding: 12px 0px;
  }

  .items__item-price{
    padding: 12px 0px;
  }

  .items__item-button{
    width: 274px;
    height: 48px;
    background-color: #937DC2;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;

  }

  
  .items__item-button-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 6px;
  }

 
.custom-radio{
  appearance: none; 
  width: 10px;
  height: 10px;
  background-color: #937DC2; 
  border: none; 
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}